@use './variables' as vars;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
  transition: all ease-in-out 0.25s;
}

body {
  font-size: vars.$small-font-size;
  letter-spacing: vars.$small-letter-spacing;
  color: vars.$text-color;
}

input {
  width: 100% !important;
  font-family: 'Poppins', sans-serif !important;
  font-size: vars.$small-font-size !important;
  border: 0;
  border-radius: inherit;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

/*===========Custom Scrollbar===========*/
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: rgba($color: vars.$active-color, $alpha: 0.25);
  border-radius: vars.$rounded;
}

::-webkit-scrollbar-thumb {
  background-color: rgba($color: vars.$active-color, $alpha: 0.75);
  border-radius: vars.$rounded;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba($color: vars.$active-color, $alpha: 0.5);
}
