.flex {
  display: flex;

  &--column {
    flex-direction: column;
  }

  &--center {
    justify-content: center;
    align-items: center;
  }

  &--h-center {
    justify-content: center;
  }

  &--v-center {
    align-items: center;
  }
}
