/*=========================COLOR=========================*/
$bg-color: white;
$second-bg-color: #deedeb;
$text-color: #2b2b2b;
$active-color: #9c27b0;
$sign-color: #58ae9d;
/*=========================BORDER=========================*/
$border-slight-width: 1px;
$rounded: 0.625rem;
/*=========================TYPHOGRAPHY=========================*/
$small-font-size: 0.875rem;
$regular-font-size: 1.25rem;
$large-font-size: 1.5rem;

$small-letter-spacing: 0.025em;
/*=========================GAP=========================*/
$small-gap: 0.9375rem;
$regular-gap: 1.5rem;
$medium-gap: 1.875rem;
