/*=========================COLOR=========================*/
$primary-bg-color: #353a40;
$second-bg-color: #2c3137;
$primary-fg-color: white;
$text-color: #495058;
$active-color: #6841da;
$type-1-color: #e54980;
$type-2-color: #ae3dc9;
$type-3-color: #e67701;
$type-4-color: #74b815;
/*=========================BORDER=========================*/
$border-slight-width: 1px;
/*=========================TYPHOGRAPHY=========================*/
$small-font-size: 1.4rem;
$regular-font-size: 1.6rem;
$large-font-size: 2rem;
$x-large-font-size: 2.4rem;
$largest-font-size: 3.2rem;

$small-letter-spacing: 0.025em;
$regular-letter-spacing: 0.035em;
$large-letter-spacing: 0.05em;
