@use '../../../../sass/variables' as vars;

.todo-item {
  border-radius: vars.$rounded !important;
  background-color: rgba($color: vars.$bg-color, $alpha: 0.75) !important;

  &:hover,
  &.dragging {
    box-shadow: 0 0 5px 5px rgba($color: vars.$active-color, $alpha: 0.25);
  }

  &__heading {
    font-size: vars.$regular-font-size !important;

    & span {
      font-size: inherit;
    }
  }
}
