@use '../../../../sass/variables' as vars;

.todo-item {
  border-radius: vars.$rounded !important;
  background-color: rgba($color: vars.$bg-color, $alpha: 0.75) !important;

  &__heading {
    font-size: vars.$regular-font-size !important;

    & span {
      font-size: inherit;
    }
  }
}
