@use '../../sass/variables' as vars;

.logo {
  position: relative;
  font-size: vars.$large-font-size;
  font-weight: 600;
  color: vars.$active-color;

  &::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -2px;

    width: 100%;
    height: 3px;
    background-color: currentColor;
  }
}
