@use '../../sass/variables' as vars;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  background-color: vars.$bg-color;
  box-shadow: 0 1px 5px vars.$second-bg-color;

  &__dropdown {
    position: relative;
  }

  &__collapse {
    position: absolute;
    right: 0;
    width: max-content;
    z-index: 1;

    margin-top: vars.$small-gap;
    background-color: vars.$bg-color;
    border: vars.$border-slight-width solid rgba($color: vars.$text-color, $alpha: 0.2);
  }
}
