@use '../../sass/variables' as vars;

.modal {
  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: vars.$regular-gap;
    width: 50%;
    background-color: vars.$bg-color;
    border-radius: vars.$rounded;
    box-shadow: 0 0 5px vars.$second-bg-color;
  }

  &__heading {
    font-size: vars.$regular-font-size !important;
  }
}
